:root {
    --text-green: #54B56A;
    --tab-green: #73d88b4d;
    --tab-green-dark: #73D88B;
    --light-green: #DEFFE6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s ease;
}

html,
body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

.wrapper {
    position: relative;
}

.wrapper::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;
    background: url('../images/bg.jpg') repeat center center/cover fixed;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Amatic SC', cursive;
}

p {
    line-height: 1.7;
}

/* -------------- UTILITY CLASSES ------------------- */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

@media (min-width: 1500px) {
    .container {
        max-width: 85%;
    }
}

/* --------------- HEADER ----------- */

#header {
    padding: 1rem 0;
}

#header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .logo img {
    width: 100px;
    object-fit: cover;
}

#menu-btn {
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Amatic SC', cursive;
    background: none;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

#menu-btn:hover {
    color: var(--text-green);
}

#menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 100;
    background-color: #fff;
    clip-path: circle(0% at 100% 0%);
    transition: 0.5s ease;
}

#menu.active {
    clip-path: circle(145% at 100% 0%);
}

.menu__image {
    padding: 1rem;
}

.menu__logo img {
    width: 100px;
}

.menu__lottie {
    width: 100%;
}

.menu__text {
    background-color: var(--light-green);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

#menu-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    border: none;
    outline: none;
    padding: 1rem;
    cursor: pointer;
    background-color: transparent;
}

#menu-close img {
    width: 30px;
}

#menu-close:hover {
    transform: scale(1.1);
}

.menu__links {
    margin-bottom: 2.5rem;
    width: 100%;
}

.menu__links li a {
    font-family: 'Amatic SC', cursive;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 2;
    padding-bottom: 0.2rem;
}

.menu__links li a:hover {
    border-bottom: 2px solid var(--yellow);
}

.menu__text .credits {
    display: inline-block;
    width: 100%;
    text-align: right;
    font-size: 1.2rem;
    justify-self: flex-end;
}

/* ------------BODY ----------------- */

.credits__title {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-left: 2rem;
    margin: 4rem 0 3rem;
}

.credits__title h1 {
    font-size: 6rem;
    font-weight: 700;
}

.credits__title img {
    width: 70px;
}

.team__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-bottom: 3rem;
}

.team__member {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1.2rem;
    border: 1px solid var(--tab-green-dark);
    border-radius: 6rem 6rem 0 0;
    background-color: #fff;
    max-width: 450px;
}

.team__image {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background: url('../images/spiral.svg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team__member:nth-child(2) .team__image,
.team__member:nth-child(3) .team__image,
.team__member:nth-child(5) .team__image,
.team__member:nth-child(6) .team__image,
.team__member:nth-child(6) .team__image {
    background: url('../images/scribble.svg') no-repeat center center/cover;
}

.team__image img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.team__member h3 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.team__member p {
    color: #777;
    font-size: 1rem;
    text-align: center;
}



/* -------------- MEDIA QUERIES -------------- */

@media (max-width: 1025px) and (min-width: 800px) {
    .team__wrapper {
        grid-column-gap: 1rem;
    }
}

@media (max-width: 769px) {

    .menu__links li a {
        font-size: 2.2rem;
        line-height: 1.7;
    }

    .team__wrapper {
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 426px) {

    html {
        font-size: 15px;
    }

    #header .logo img {
        width: 80px;
    }

    #menu {
        grid-template-columns: 1fr;
        grid-template:
            "menu_text"
            "menu_image";
    }

    .menu__image {
        grid-area: menu_image;
    }

    .menu__logo {
        display: none;
    }

    .menu__text {
        background-color: #fff;
        padding: 2rem;
        grid-area: menu_text;
    }

    .menu__links {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
    }

    .menu__links li a {
        font-size: 2.2rem;
        line-height: 0.8;
    }

    #menu-close {
        top: 1rem;
        right: 1rem;
        padding: 0.5rem;
    }

    .menu__text .credits {
        text-align: center;
    }

    .credits__title h1 {
        font-size: 3.5rem;
    }

    .team__wrapper {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .team__member {
        max-width: 350px;
        padding: 2.5rem 1.5rem;
    }

    .team__image {
        width: 210px;
        height: 210px;
    }

    .team__image img {
        width: 190px;
        height: 190px;
    }

}