:root{
  --text-green: #54B56A;
  --tab-green: #73d88b4d;
  --tab-green-dark: #73D88B;
  --light-green: #DEFFE6;
  --yellow: #EAFB27;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease;
  /* border: 1px solid red; */
}

html, body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  position: relative;
}

.wrapper::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
  background: url('../images/paper-bg.png') repeat center center/cover;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amatic SC', cursive;
}

p {
  line-height: 1.7;
}

/* -------------- UTILITY CLASSES ------------------- */

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}

.circle-btn {
  display: inline-block;
  padding: 0.6rem;
  border: 20px solid transparent;
  background-color: transparent;
  background: url('../images/button-circle.png') no-repeat center center/cover;
  outline: none;
  cursor: pointer;
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
  font-size: 2rem;
}

.circle-btn:hover {
  transform: scale(1.1);
}

/* -------------- PRELOADER ---------- */
.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--yellow);
}

.preloader.hide {
  display: none;
}

/* --------------- HEADER ----------- */

#header {
  padding: 1rem 0;
}

#header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header .logo img {
  width: 100px;
  object-fit: cover;
}

#menu-btn {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Amatic SC', cursive;
  background: none;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

#menu-btn:hover {
  color: var(--text-green);
}

/* ----------------- HERO SECTION ------------------ */
section#hero {
  position: relative;
  min-height: 80vh;
  display: flex;
  align-items: center;
}

#hero .hero__lottie {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#hero .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__text {
  text-align: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.hero__text h1 {
  font-size: 5rem;
  line-height: 1.3;
  margin-bottom: 1.5rem;
}

.hero__text h1 span {
  color: var(--text-green);
}

.hero__text p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.hero__form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.hero__form input {
  padding: 1rem;
  font-size: 1rem;
  font-family: inherit;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  background-color: #F3F3F3;
  width: 60%;
}

/* -------------- AIM SECTION ----------- */
section#aim {
  padding: 2rem 0;
}

#aim .container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 1rem;
  align-items: center;
}

.aim__text {
  position: relative;
}

.aim__text .small-tree {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
}

.aim__title {
  text-align: center;
}

.aim__title img {
  width: 12rem;
}

.aim__text p {
  font-weight: 300;
  margin-bottom: 2rem;
}

.aim__plastic-recycling {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.aim__plastic-recycling img {
  margin-right: 1rem;
}

.aim__plastic-recycling h3 {
  font-size: 3rem;
}

.aim__lottie {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* ----------- WORK SECTION ------------------ */
section#work {
  padding: 1rem 0;
}

#work .container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 1rem;
  align-items: center;
}

.work__lottie {
  display: flex;
  align-items: center;
  justify-content: center;
}

.work__title {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.work__title span {
  color: var(--text-green);
}

.work__title span::before {
  content: " ";
  position: absolute;
  width: 100px;
  height: 100px;
  top: -150%;
  background: url('../images/arrow-curve-down.svg') no-repeat center center/contain;
}

.work__text p {
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.work__text button {
  font-size: 2.1rem;
  padding: 0.8rem;
}

/* -------------- CARE SECTION -------------- */
section#care {
  background: url('../images/bg-vector.png') no-repeat center center/cover;
  padding: 8rem 0;
}

.care__lottie {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.care__lottie h2 {
  font-size: 3.5rem;
  position: absolute;
  left: 40%;
  top: 55%;
  transform: translate(-50%, -50%);
}

/* ----------- LOCATIONS SECTION ------------------ */
section#locations {
  padding: 1rem 0;
  background-color: var(--light-green);
}

#locations .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  align-items: center;
}

.locations__image img {
  max-width: 100%;
}

.locations__text {
  padding-left: 2rem;
  width: 100%;
  position: relative;
}

.locations__text .location__marker {
  position: absolute;
  top: -1rem;
  right: 0;
}

.locations__text h3 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.location-tabs div {
  background-color: var(--tab-green);
  padding: 1rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  display: inline-block;
  align-items: center;
  border-radius: 1rem;
  width: fit-content;
}

.location-tabs div span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: var(--tab-green-dark);
}

.location-tabs div p {
  display: inline;
}

/* ----------- VOLUNTEERING SECTION ------------ */
section#volunteering {
  padding: 2rem 0;
}

#volunteering .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  align-items: center;
}

.volunteering__image img {
  max-width: 100%;
  display: block;
}

.volunteering__image h4 {
  font-size: 2rem;
  text-align: center;
}

.volunteering__text h2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
}

.volunteering__text h2::after {
  content: " ";
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
  right: -6rem;
  background: url('../images/arrow-curve-left.svg') no-repeat center center/contain;
}

.volunteering__text p {
  margin-bottom: 1rem;
}

/* ------------ PRODUCTS SECTION ----------------------- */
section#products {
  padding: 1rem 0;
}

.products__title {
  text-align: center;
}

.products__title h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.products__title > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.products__title > div hr {
  background-color: var(--tab-green);
  height: 5px;
  width: 7rem;
  border: none;
}

.products__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
}

#products .circle-btn {
  text-align: center;
}