:root {
  --text-green: #54B56A;
  --tab-green: #73d88b4d;
  --tab-green-dark: #73D88B;
  --light-green: #DEFFE6;
  --yellow: #EAFB27;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease;
}

html,
body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

.wrapper {
  position: relative;
}

.wrapper::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: -1;
  background: url('../images/bg.jpg') repeat center center/cover fixed;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Amatic SC', cursive;
}

p {
  line-height: 1.7;
}

/* -------------- UTILITY CLASSES ------------------- */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 1500px) {
  .container {
    max-width: 85%;
  }
}

.circle-btn {
  display: inline-block;
  padding: 0.6rem;
  border: 20px solid transparent;
  background-color: transparent;
  background: url('../images/button-circle.png') no-repeat center center/cover;
  outline: none;
  cursor: pointer;
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
  font-size: 2rem;
}

.circle-btn:hover {
  transform: scale(1.1);
}

/* -------------- PRELOADER ---------- */
.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--yellow);
  opacity: 1;
}

.preloader.hide {
  opacity: 0;
  z-index: -1;
}

/* --------------- HEADER ----------- */

#header {
  padding: 1rem 0;
}

#header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header .logo img {
  width: 70px;
  object-fit: cover;
}

#menu-btn {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Amatic SC', cursive;
  background: none;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

#menu-btn:hover {
  color: var(--text-green);
}

#menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 100;
  background-color: #fff;
  clip-path: circle(0% at 100% 0%);
  transition: 0.5s ease;
}

#menu.active {
  clip-path: circle(145% at 100% 0%);
}

.menu__image {
  padding: 1rem;
}

.menu__logo img {
  width: 70px;
}

.menu__lottie {
  width: 100%;
}

.menu__text {
  background-color: var(--light-green);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

#menu-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border: none;
  outline: none;
  padding: 1rem;
  cursor: pointer;
  background-color: transparent;
}

#menu-close img {
  width: 30px;
}

#menu-close:hover {
  transform: scale(1.1);
}

.menu__links {
  margin-bottom: 2.5rem;
  width: 100%;
}

.menu__links li a {
  font-family: 'Amatic SC', cursive;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 2;
  padding-bottom: 0.2rem;
}

.menu__links li a:hover {
  border-bottom: 2px solid var(--yellow);
}

.menu__text .credits {
  display: inline-block;
  width: 100%;
  text-align: right;
  font-size: 1.2rem;
  justify-self: flex-end;
}

/* ----------------- HERO SECTION ------------------ */
section#hero {
  position: relative;
  min-height: 90vh;
  display: flex;
  align-items: center;
}

#hero .hero__lottie {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#hero .hero__lottie lottie-player {
  width: 100%;
  height: 100%;
}

#hero .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__text {
  text-align: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.hero__text h1 {
  font-size: 5rem;
  line-height: 1.3;
  margin-bottom: 1.5rem;
}

.hero__text h1 span {
  color: var(--text-green);
}

.hero__text p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.hero__form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.hero__form input {
  padding: 1rem;
  font-size: 1rem;
  font-family: inherit;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  background-color: #F3F3F3;
  width: 60%;
}

/* -------------- AIM SECTION ----------- */
section#aim {
  padding: 2rem 0;
}

#aim .container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 1rem;
  align-items: center;
}

.aim__text {
  position: relative;
}

.aim__text .small-tree {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
}

.aim__title {
  text-align: center;
  margin-bottom: 2rem;
}

.aim__title img {
  width: 12rem;
}

.aim__text p {
  font-weight: 300;
  margin-bottom: 2rem;
}

.aim__plastic-recycling {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.aim__plastic-recycling img {
  margin-right: 1rem;
  width: 120px;
}

.aim__plastic-recycling h3 {
  font-size: 3rem;
}

.aim__lottie {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* ----------- WORK SECTION ------------------ */
section#work {
  padding: 1rem 0;
}

#work .container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 1rem;
  align-items: center;
}

.work__lottie {
  display: flex;
  align-items: center;
  justify-content: center;
}

.work__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work__title {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.work__title span {
  color: var(--text-green);
}

/* .work__title span::before {
  content: " ";
  position: absolute;
  width: 100px;
  height: 100px;
  top: -150%;
  background: url('../images/arrow-curve-down.svg') no-repeat center center/contain;
} */

.work__text p {
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.work__text button {
  font-size: 2.1rem;
  padding: 0.8rem;
}

/* -------------- CARE SECTION -------------- */
section#care {
  background: url('../images/bg-vector.png') no-repeat center center/cover;
  padding: 8rem 0;
}

section#care .container {
  max-width: 100%;
}

.care__lottie {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.care__lottie lottie-player {
  width: 100%;
  height: 100%;
}

.care__lottie h2 {
  font-size: 3.5rem;
  position: absolute;
  left: 40%;
  top: 55%;
  transform: translate(-50%, -50%);
}

/* ----------- LOCATIONS SECTION ------------------ */
section#locations {
  padding: 1rem 0;
  background-color: var(--light-green);
  position: relative;
}

#locations .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 1;
  background: var(--tab-green-dark);
}

#locations .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  z-index: 100;
  position: relative;
}

.locations__image img {
  max-width: 100%;
}

.locations__text {
  padding-left: 2rem;
  width: 100%;
  position: relative;
}

.locations__text .location__marker {
  position: absolute;
  top: -1rem;
  right: 0;
  opacity: 0.6;
}

.locations__text h3 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.location-tabs div {
  background-color: var(--tab-green);
  padding: 1rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  display: inline-block;
  align-items: center;
  border-radius: 1rem;
  width: fit-content;
}

.location-tabs div span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: var(--tab-green-dark);
}

.location-tabs div p {
  display: inline;
}

/* ----------- VOLUNTEERING SECTION ------------ */
section#volunteering {
  padding: 2rem 0;
}

#volunteering .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  align-items: center;
}

.volunteering__image img {
  max-width: 100%;
  display: block;
}

.volunteering__image h4 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.volunteering__title {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.volunteering__title h2 {
  font-size: 4.5rem;
  font-weight: 700;
  position: relative;
  display: inline-block;
}

.volunteering__text p {
  margin-bottom: 1rem;
}

/* ------------ PRODUCTS SECTION ----------------------- */
section#products {
  padding: 1rem 0;
}

.products__title {
  text-align: center;
}

.products__title h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.products__title>div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.products__title>div hr {
  background-color: var(--tab-green);
  height: 3px;
  width: 7rem;
  border: none;
}

.products__slider {
  position: relative;
}

.products__wrapper {
  overflow: initial;
}

.product__image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  max-width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--tab-green-dark);
}

.swiper-pagination-bullet-active {
  background-color: var(--tab-green-dark);
}

.product__image img {
  width: 25rem;
}

.product__button {
  display: flex;
  justify-content: center;
}

#products .circle-btn {
  display: inline-block;
  text-align: center;
}

/* ------------ FOOTER ----------- */
#footer {
  padding: 3rem 0 0;
}

.footer__logo {
  margin-bottom: 1rem;
}

.footer__logo img {
  width: 100px;
}

.footer__grid {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr 1fr;
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

.footer__nav {
  display: none;
}

.footer__credits h4 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.footer__credits span {
  font-size: 2.2rem;
  margin-right: 1.5rem;
  line-height: 1.8;
  font-family: 'Amatic SC', cursive;
}

.footer__illustrations img {
  max-width: 100%;
}

.footer__globe {
  align-self: flex-end;
  padding-bottom: 5rem;
}

.footer__globe img {
  width: 100px;
}

.footer__socials {
  align-self: flex-end;
  display: flex;
  gap: 1rem;
  padding-bottom: 3rem;
}

.footer__socials a {
  color: #aaa;
  font-size: 2.2rem;
}

.footer__socials a:hover {
  color: var(--text-green);
}

.footer__attributions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0 1rem;
  border-top: 1px solid #aaa;
}

.footer__attributions p {
  font-size: 1.1rem;
}

.footer__attributions h4 {
  font-size: 2rem;
}


/* -------------- MEDIA QUERIES -------------- */

@media (max-width: 769px) {

  .menu__links li a {
    font-size: 2.2rem;
    line-height: 1.7;
  }

  .hero__form {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero__form input {
    width: 100%;
  }

  #aim .container {
    grid-template-columns: 1fr;
  }

  .aim__title {
    text-align: left;
  }

  #work .container {
    padding-top: 3rem;
    grid-template-columns: 1fr;
    grid-template:
      "work_text"
      "work_image";
  }

  .work__lottie {
    grid-area: work_image;
  }

  .work__text {
    grid-area: work_text;
    text-align: center;
  }

  .work__text p {
    text-align: left;
  }

  section#care {
    padding: 2rem 0;
  }

  #care .container {
    padding: 0;
  }

  .care__lottie {
    margin: auto;
  }

  .care__lottie h2 {
    font-size: 3.3rem;
    left: 45%;
  }

  #locations .container {
    grid-template-columns: 1fr;
    padding: 0;
  }

  #locations .bg {
    display: none;
    width: 0;
  }

  .locations__image img {
    width: 100%;
  }

  .locations__text {
    padding-left: 1rem;
  }

  #volunteering .container {
    grid-template-columns: 1fr;
    grid-template:
      "vol_text"
      "vol_image";
    grid-gap: 0;
  }

  .volunteering__image {
    grid-area: vol_image;
  }

  .volunteering__text {
    grid-template: vol_text;
  }

  .footer__grid {
    grid-template:
      "footer_nav footer_nav"
      "footer_credits team_illustration"
      "footer_socials footer_globe";
  }

  .footer__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    grid-area: footer_nav;
  }

  .footer__nav a {
    display: inline-block;
    font-size: 2rem;
    line-height: 1.2;
    font-family: 'Amatic SC', cursive;
  }

  .footer__nav a:hover {
    color: var(--text-green);
  }

  .footer__credits {
    grid-area: footer_credits;
  }

  .footer__credits span {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .footer__illustrations {
    grid-area: team_illustration;
  }

  .footer__globe {
    align-self: flex-end;
    padding-bottom: 1rem;
    grid-area: footer_globe;
  }

  .footer__socials {
    align-self: center;
    padding-bottom: 1rem;
    grid-area: footer_socials;
  }

  .footer__attributions {
    flex-wrap: wrap;
  }

  .footer__attributions h4 {
    font-size: 2rem;
  }

}


@media (max-width: 426px) {

  html {
    font-size: 15px;
  }

  #header .logo img {
    width: 65px;
  }

  #menu {
    grid-template-columns: 1fr;
    grid-template:
      "menu_text"
      "menu_image";
  }

  .menu__image {
    grid-area: menu_image;
  }

  .menu__logo {
    display: none;
  }

  .menu__text {
    background-color: #fff;
    padding: 2rem;
    grid-area: menu_text;
  }

  .menu__links {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }

  .menu__links li a {
    font-size: 2.2rem;
    line-height: 0.8;
  }

  #menu-close {
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
  }

  .menu__text .credits {
    text-align: center;
  }

  .hero__text {
    width: 100%;
  }

  .hero__text h1 {
    font-size: 4rem;
  }

  .aim__title img {
    width: 140px;
  }

  .aim__plastic-recycling img {
    width: 100px;
  }

  .aim__plastic-recycling h3 {
    font-size: 2.5rem;
  }

  .care__lottie {
    width: 170%;
  }

  .care__lottie lottie-player {
    width: 170%;
    transform: translateX(-10%);
  }

  .care__lottie h2 {
    font-size: 3.1rem;
    left: 33%;
  }

  .products__title>div hr {
    display: none;
  }

  .product__image img {
    width: 16rem;
  }

  .footer__logo img {
    width: 65px;
  }

  .footer__grid {
    grid-template:
      "footer_nav footer_nav"
      "team_illustration team_illustration"
      "footer_credits footer_globe"
      "footer_socials footer_socials";
  }

  .footer__nav {
    text-align: center;
    justify-content: center;
  }

  .footer__socials {
    padding-bottom: 0;
    justify-content: center;
  }

  .footer__attributions {
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    gap: 1rem;
  }

  .footer__credits h4 {
    font-size: 2.5rem;
  }

  .footer__credits span {
    font-size: 2rem;
    line-height: 1.5;
  }

  .footer__globe img {
    width: 80px;
  }

  .footer__socials a {
    font-size: 2rem;
  }

  .footer__attributions p {
    font-size: 1rem;
  }

  .footer__attributions h4 {
    font-size: 1.8rem;
  }

}

@media (max-width: 376px) {

  .preloader lottie-player {
    width: 190px;
    height: 190px;
  }

  .work__title span::before {
    width: 80px;
    height: 80px;
    top: -5rem;
  }

  .aim__plastic-recycling img {
    width: 80px;
  }

  .aim__plastic-recycling h3 {
    font-size: 2.3rem;
  }

  .care__lottie h2 {
    font-size: 2.5rem;
  }

  .locations__text .location__marker {
    opacity: 0;
  }

  .volunteering__text h2 {
    font-size: 3.5rem;
  }

  .volunteering__text h2::after {
    width: 70px;
    height: 70px;
    right: -5rem;
  }

  .footer__grid {
    grid-template:
      "footer_nav footer_nav"
      "team_illustration team_illustration"
      "footer_credits footer_credits"
      "footer_socials footer_globe";
  }

}