:root {
  --text-green: #54B56A;
  --tab-green: #73d88b4d;
  --tab-green-dark: #73D88B;
  --light-green: #DEFFE6;
  --yellow: #EAFB27;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease;
}

html,
body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

.wrapper {
  position: relative;
  background-color: rgba(240, 240, 240, 0.2);
}

.wrapper::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: -1;
  background: url('../images/bg.jpg') repeat center center/cover fixed;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Amatic SC', cursive;
}

p {
  line-height: 1.7;
}

/* -------------- UTILITY CLASSES ------------------- */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 1500px) {
  .container {
    max-width: 85%;
  }
}

.circle-btn {
  display: inline-block;
  padding: 0.6rem;
  border: 20px solid transparent;
  background-color: transparent;
  background: url('../images/button-circle.png') no-repeat center center/cover;
  outline: none;
  cursor: pointer;
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
  font-size: 2rem;
}

.circle-btn:hover {
  transform: scale(1.1);
}

/* --------------- HEADER ----------- */

#header {
  padding: 1rem 0;
}

#header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header .logo img {
  width: 100px;
  object-fit: cover;
}

#menu-btn {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Amatic SC', cursive;
  background: none;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

#menu-btn:hover {
  color: var(--text-green);
}

#menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 100;
  background-color: #fff;
  clip-path: circle(0% at 100% 0%);
  transition: 0.5s ease;
}

#menu.active {
  clip-path: circle(145% at 100% 0%);
}

.menu__image {
  padding: 1rem;
}

.menu__logo img {
  width: 100px;
}

.menu__lottie {
  width: 100%;
}

.menu__text {
  background-color: var(--light-green);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

#menu-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border: none;
  outline: none;
  padding: 1rem;
  cursor: pointer;
  background-color: transparent;
}

#menu-close img {
  width: 30px;
}

#menu-close:hover {
  transform: scale(1.1);
}

.menu__links {
  margin-bottom: 2.5rem;
  width: 100%;
}

.menu__links li a {
  font-family: 'Amatic SC', cursive;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 2;
  padding-bottom: 0.2rem;
}

.menu__links li a:hover {
  border-bottom: 2px solid var(--yellow);
}

.menu__text .credits {
  display: inline-block;
  width: 90%;
  text-align: right;
  font-size: 1.2rem;
  justify-self: flex-end;
}


/* ----------------- HERO SECTION ------------------ */
section#hero {
  min-height: 90vh;
  display: flex;
  align-items: flex-start;
}

#hero .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero__image img {
  width: 100%;
}

.hero__text {
  text-align: left;
}

.hero__text h1 {
  font-size: 5rem;
  line-height: 1.3;
  margin-bottom: 1.5rem;
}

.hero__text h1 span {
  color: var(--text-green);
}

/* ----------- PROGRAMS SECTION -------------- */
section#programs {
  padding: 2rem 0;
}

#programs .programs__title {
  /* text-align: center; */
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#programs .programs__title img {
  width: 150px;
  object-fit: cover;
}

#programs .programs__title h2 {
  font-size: 4.5rem;
  font-weight: 700;
}

#programs .program {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 1rem;
}

.program .program__text {
  width: 80%;
}

.program .program__text h3 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.program .program__image img {
  max-width: 100%;
}

.program__attend {
  position: relative;
  height: 40rem;
  align-items: start !important;
  grid-gap: 3rem !important;
}

.program__attend img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.program__community-dev .program__text,
.program__recycle-educator .program__text {
  position: relative;
}

.program__community-dev .program__text img,
.program__recycle-educator .program__text img {
  width: 80px;
  position: absolute;
  bottom: -5rem;
  right: 50%;
}


/* ------------- TESTIMONIALS SECTION -------------- */
section#testimonials {
  padding: 2rem 0;
}

.testimonials__title {
  position: relative;
  margin-bottom: 1rem;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonials__title img {
  object-fit: cover;
  width: 100%;
}

.testimonials__title h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 4.5rem;
  font-weight: 700;
  text-align: center;
}

.testimonials__title h2 span {
  color: var(--text-green);
}

.testimonials__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.testimonial__box {
  padding: 3rem 1.5rem 5rem;
  border: 2px solid var(--tab-green-dark);
  min-width: 400px;
  min-height: 450px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #fcfcfc;
  border-radius: 50% 50% 0 0;
}

.testimonial__box:nth-child(3) {
  max-width: 600px;
}

.testimonial__box .testimonial__profile {
  width: 150px;
  margin-bottom: 2rem;
}

.testimonial__box .testimonial__text h4 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}


/* ------------ VOLUNTEERS SECTION -------------- */
section#volunteers {
  padding: 5rem 0;
  position: relative;
}

section#volunteers>img {
  position: absolute;
  top: 5rem;
  left: 10%;
  width: 180px;
}

.volunteers__title h2 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.volunteers__text {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 2rem;
  text-align: center;
}

.volunteers__text h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.volunteers__image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.volunteers__image img {
  width: 50rem;
}